<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{{ .Title }}</title>
    <script src="https://unpkg.com/htmx.org@1.4.0"></script>
</head>

<body>
    <div class="container">
        <h1> Nihongo search!</h1>
        <p>Search for Japanese words</p>
        <div class="search">
            <input id="query" type="text" name="query" hx-get="/partial/search" hx-trigger="keyup changed delay:300ms, search"
                hx-target="#results" />
        </div>
        <div id="results"></div>
        <div id="preview"></div>
    </div>
</body>

</html>

<script>
    // Default focus on the input field
    document.getElementById("query").focus();

    // If keyup of / or enter, focus on the input field
    document.addEventListener("keyup", function (event) {
        if (event.key === "/") {
            document.getElementById("query").focus();
        }
        if (event.key === "Enter") {
            document.getElementById("query").focus();
        }
    });
</script>

<style>
    body {
        font-family: sans-serif;
    }

    .container {
        margin: 0 auto;
        width: 50%;
        text-align: center;
    }

    .search {
        text-align: center;
    }

    #results {
        margin-top: 1em;
        text-align: left;
    }

    @media (max-width: 600px) {
        .container {
            width: 100%;
        }
    }

    .kanji {
        font-size: 2em;
    }

    .kunyomi {
        color: #666;
    }

    .onyomi {
        color: #666;
    }
</style>
